* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html, body {
    background: rgba(7, 1, 1, 0.8); 
    min-width: 750px;
}

#content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-width: 750px
}

#bodyArea {
    display: flex;
    justify-content: center;
    color: white;
    height: 82vh;
    min-width: 60vh;
    background: url(../images/leon-bublitz-fBeRt6DnhC8-unsplash.jpg);
    background-size: 100% 100%;
    min-height: 1000px;
    
}

#mainDiv {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-width: 700px;
}

#mainDivTitleArea > h2 {
    display: flex;
    font-size: 30px;
    width: 100%;
}

