footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5vh;
    width: 60vh;
    background: black;
    color: white;
    font-size: 12px;
}

#footerAreaContent {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

img {
    padding-left: 20px;
    height: 25px;
    width: 25px;
}

h2 {
    display: flex;
    align-items: center;
}